.it-dialog {
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	z-index: 90;
	@include prePost(0, 0, 0, 0);
	@include flexbox();
	@include align-items(center);
	@include justify-content(center);

	&-content {
		display: flex;
		flex-direction: column;
		background: #fff;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		position: relative;
	}

	&-inner {
		flex: 1;
		overflow-y: auto;
		overflow-x: hidden;
		position: relative;
	}
	
	.it-toolbar {
		width: 100%;
		background: #f3f3f3;
		border-right: none;
		border-left: none;
		padding: 5px 10px;
		top: -1px;

        &.top {
            border-top: none;
        }

		&.bottom {
			border-bottom: none;
        }        
	}
}