.it-form {
    &-group {
        display: flex;
        margin-bottom: 15px;

        &.form-hidden {
            display: none;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &.block-view {
            flex-direction: column;

            .form-label {
                margin-bottom: 10px;
                align-self: flex-start;
            }
        }

        .form-label {
            font-weight: 500;
            margin-bottom: 0;
            align-self: center;
        }

        .it-form-control {
            flex: 1;
        }

        .small-text {
            color: #666;
            line-height: 1.6em;
            font-size: 13px;
        }
    }
}
