.it-form {
    &-group {
        display: flex;
        margin-bottom: 20px;

        &.form-hidden {
            display: none;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &.block-view {
            flex-direction: column;

            .form-label {
                margin-bottom: 10px;
            }
        }

        .form-label {
            font-weight: 500;
        }
    }
}
