/**
*** IT FRAMEWORK CLASSIC
***	Author    : Rohimat Nuryana (Founder), Egy Mohammad Erdin, Teguh Muhammad Zundi
*** Date 	  : 07/02/2018
*** Status 	  : Release Candidat (RC)
**/

@import "fonts";
@import "core";
@import "flex";

.kanan, .R, .r, .right {
    float: right;
}

.kiri, .L, .l, .left {
    float: left;
}

.clear {
    clear: both;
}

.clearfix {
    zoom: 1;

    &:before,
    &:after {
        content: ".";
        display: block;
        height: 0;
        overflow: hidden;
    }

    &:after {
        clear: both;
    }
}

.it-hide {
    display: none;
}

/**
**************************************************************** GLOBAL STYLE
**/
.it-title,
.it-toolbar,
.it-button,
.it-tab,
.it-form-control,
.it-grid,
.it-imagebox,
.it-dialog,
.it-messagebox {
    @include boxSizing(border-box);

    outline: 0 none;
    line-height: 100%;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

@import "title";
@import "toolbar";
@import "form";
@import "form_control";
@import "dialog";
@import "messagebox";
@import "button";
@import "tab";
@import "grid";
@import "flexi";
@import "image";
